<div class="row no-gutter">
  <div class="col-sm-2 col-sm-offset-1">
    <input class="form-control height-adj" [(ngModel)]="multiplier" type="number"/>
  </div>
  <div class="col-sm-4">
    <select class="form-control height-adj" (change)="dates($event.target.value)" [(ngModel)]="base">
      <option *ngFor="let x of currencies" [ngValue]="x.code">
        {{x.code}} - {{x.name}}
      </option>
    </select>
  </div>
  <div class="col-sm-4">
    <select class="form-control height-adj" (change)="dates(null)" [(ngModel)]="curr">
      <option *ngFor="let x of currencies" [ngValue]="x.code">
        {{x.code}} - {{x.name}}
      </option>
    </select>
  </div>
</div>

<div class="row no-gutter">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="pull-left">{{ multiplier | number }} {{ base }} =
      <span class="result">{{ multiplier * rate | number }}</span> {{ curr }}
      <button class="btn btn-primary default-btn" (click)="setDefault()">Set as default</button>
    </h3>
    <h3 class="pull-right percent">
      <span *ngIf="difference?.change == 'up'"><i style="color:green;" class="fa fa-arrow-circle-up"></i></span>
      <span *ngIf="difference?.change == 'down'"><i style="color:red;" class="fa fa-arrow-circle-down"></i></span>
      <span *ngIf="difference?.change == 'none'"><i class="fa fa-arrows-h"></i></span>
      {{difference?.percent}}% <small>from one year ago</small>
    </h3>
  </div>
</div>

<div *ngIf="lineChartData[0].label" style="display: block;">
  <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"></canvas>
</div>
