<div class="form-inline currency-form">
  <div class="form-group">
    <input class="form-control" [(ngModel)]="multiplier" type="number"/>
  </div>
  <div class="form-group">
    <select class="form-control" (change)="dates()" [(ngModel)]="base">
      <option *ngFor="let x of currencies" [ngValue]="x.code">
        {{x.code}} - {{x.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" (change)="dates()" [(ngModel)]="curr">
      <option *ngFor="let x of currencies" [ngValue]="x.code">
        {{x.code}} - {{x.name}}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-md-12 stocks-container">

    <div class="col-sm-6 stock-block">
      <h3>{{ base }}</h3>
      <span class="name">{{ multiplier | number }}</span>
    </div>

    <div class="col-sm-6 stock-block">
      <h3>{{ curr }}</h3>
      <span class="name">{{ multiplier * rate | number }}</span>
    </div>

  </div>
</div>
