<!-- Loading screen -->
<div *ngIf="loading" id="floatingCirclesG">
	<div class="f_circleG" id="frotateG_01"></div>
	<div class="f_circleG" id="frotateG_02"></div>
	<div class="f_circleG" id="frotateG_03"></div>
	<div class="f_circleG" id="frotateG_04"></div>
	<div class="f_circleG" id="frotateG_05"></div>
	<div class="f_circleG" id="frotateG_06"></div>
	<div class="f_circleG" id="frotateG_07"></div>
	<div class="f_circleG" id="frotateG_08"></div>
</div>

<div *ngIf="!loading">
  <div *ngIf="lineChartData[0].label" style="display: block;">
    <div class="changeData">
      <button class="btn btm-sm btn-primary btn-color" [ngClass]="{'active': activeClass == '1M' }" (click)="changeView('1m')">1M</button>
      <button class="btn btm-sm btn-primary btn-color" [ngClass]="{'active': activeClass == '3M' }" (click)="changeView('3m')">3M</button>
      <button class="btn btm-sm btn-primary btn-color" [ngClass]="{'active': activeClass == '6M' }" (click)="changeView('6m')">6M</button>
      <button class="btn btm-sm btn-primary btn-color" [ngClass]="{'active': activeClass == 'YTD' }" (click)="changeView('ytd')">YTD</button>
      <button class="btn btm-sm btn-primary btn-color" [ngClass]="{'active': activeClass == '1Y' }" (click)="changeView('1y')">1Y</button>
    </div>
    <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"></canvas>
  </div>

  <div class="row">
    <div class="col-md-12 stocks-container">

      <div class="col-md-4 col-sm-6 stock-block" *ngFor="let stock of stocks">
        <h3>{{ stock.code }} <button type="button" class="close" (click)="deleteStock(stock)">&times;</button></h3>
        <span class="name">{{ stock.name }}<br />{{stock.info}}</span>
      </div>

      <div class="col-md-4 col-sm-6 stock-block stock-new">
        <label>Please enter a stock symbol</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Stock code" [(ngModel)]="stockCode" (keyup.enter)="addStock(stockCode, currentView)" style="height:37px;" autofocus/>
            <span class="input-group-btn">
              <button class="btn btn-success" [disabled]="!stockCode" (click)="addStock(stockCode, currentView)">Add</button>
            </span>
          </div>

        <div class="error"><small>{{error}}</small></div>
      </div>
  </div>
</div>
