  <div class="card">
    <h4 class="card-header">About Financial Charts</h4>
    <div class="card-block">
      <div class="col-md-4">
        <ul>
          <li><b>Author:</b> <a href="https://github.com/sschapma" target="_blank">Sam Chapman</a></li>
          <li><b>GitHub:</b> <a href="https://github.com/sschapma/financial-charts" target="_blank">project repository</a></li>
          <li><b>Tools used:</b></li>
          <ul>
            <li><a href="http://www.expressjs.com" target="_blank">Express.js</a></li>
            <li><a href="https://www.angular.io" target="_blank">Angular 2</a></li>
            <li><a href="https://www.nodejs.org" target="_blank">Node.js</a></li>
            <li><a href="https://www.quandl.com" target="_blank">Quandl Financial API</a></li>
            <li><a href="https://fixer.io" target="_blank">Fixer.io Exchange Rate API</a></li>
            <li><a href="http://www.chartjs.org/" target="_blank">ChartJS</a></li>
            <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
            <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
            <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
          </ul>
        </ul>
      </div>
      <div class="col-md-8">
        <b>Stocks</b>
        To get started, please enter the code from any major stock market. The financial data for the previous year will be charted, along
        with the most recent close figure. The timeframe can be changed by clicking the buttons in the top left corner. You can enter
        multiple stocks to compare. The stocks will be saved to local storage, so they will automatically be displayed the next time you visit.
        To remove a stock, simply click the 'X'.<br /><br />

        <b>Currency Exchange</b>
        Please enter an amount, a base currency and the currency to compare it to. If you would like to save these currencies for next time,
        please click 'Set as default.' The exchange value will display below the inputs as well as a chart showing the exchange rate for this day
        on each of the previous 12 months. (The API requires a call for every day that you look up, so I chose to do 1 day a month for 12 months.)
        Upon changing the inputs, the values and chart will update automatically.<br />
      </div>
    </div>
  </div>
