    <div style="display: block;">
    <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>

    <button (click)="randomize()">CLICK</button>

    <div class="row">
    <div class="col-md-12 stocks-container">

      <div class="col-md-4 col-sm-6 stock-block" *ngFor="let stock of stocks">
        <h3>{{ stock.code }} <button type="button" class="close" (click)="deleteStock(stock)">&times;</button></h3>
        <span class="name">{{ stock.name }}</span>
      </div>

      <div class="col-md-4 col-sm-6 stock-block stock-new">
        <label>Syncs in realtime across clients</label>
        <form novalidate>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Stock code" ng-model="main.newStock">
            <span class="input-group-btn">
              <button class="btn btn-success" (click)="addStock()">Add</button>
            </span>
          </div>
        </form>

        <div class="error"></div>
      </div>
